<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center card-title">La tua lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-wrapper">
    <ion-item class="fixed">
      <div class="row">
        <ion-label class="ion-text-center action title">Spunta</ion-label>
        <ion-label class="ion-text-center isle title">Corsia</ion-label>
        <ion-label class="ion-text-center name title">Prodotto</ion-label>
      </div>
    </ion-item>
  
    <ion-list class="scrollable-list ion-margin-vertical">
      <ion-item-sliding *ngFor="let item of list, index as id">
        <ion-item>
          <div class="row">
            <ion-checkbox class="ion-text-center action" slot="start" color="primary" (ionChange)="checkItem(item, $event)"></ion-checkbox>
            <ion-label class="ion-text-center isle" [ngClass]="{ 'cross-out': checkedIds.has(item.id) }">{{ item.isle }}</ion-label>
            <ion-label class="ion-text-center name" [ngClass]="{ 'cross-out': checkedIds.has(item.id) }">{{ item.name }}</ion-label>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeItem(id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  
    <ion-item  lines="none"  class="fixed">
      <form [formGroup]="listForm" class="ion-padding-top">
        <ion-item class="row">
          <ion-input class="iisle" type="number" label="Corsia" labelPlacement="floating" formControlName="isle" fill="outline" min="1"></ion-input>
          <ion-input class="iname" type="text" label="Prodotto" labelPlacement="floating" formControlName="item" fill="outline"></ion-input>
        </ion-item>
        <app-input-error-message [field]="listForm.get('isle')" message="Devi inserire la corsia del prodotto" error="required"></app-input-error-message>
        <app-input-error-message [field]="listForm.get('item')" message="Devi inserire il nome del prodotto" error="required"></app-input-error-message>
        <ion-button class="ion-padding" fill="solid" expand="full" [disabled]="!listForm.valid" (click)="insert()">Inserisci</ion-button>
      </form>
    </ion-item>
  </div>
</ion-content>
