.row {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.action{
  width: 25%;
}

.isle{
  width: 25%;
}

.name{
  width: 50%;
}

.iisle{
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

.iname{
  width: 66%;
  padding: 10px;
  box-sizing: border-box;
}

.title{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
}

ion-checkbox {
  margin: auto 0;
}

.cross-out {
  text-decoration: line-through;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 5px;
  opacity: 0.6;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.fixed {
  flex-shrink: 0;
}